<nav>
    <h1><a href="/">Alexunder</a></h1>
    <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
</nav>