<%- include('../public/head') %>

    <body>
        <div class="div-container">
            <%- include('../public/nav') %>
                <div class="about-container">
                    <h1>About</h1>
                </div>
                <%- include('../public/footer') %>
        </div>
    </body>

    </html>