<%- include('./partials/head') %>

    <body>
        <div class="div-container">
            <%- include('./partials/nav') %>
                <div class="home-sign">
                    <h1>Signup on  Alexunder account to feedback</h1>
                    <button><a href="/signup">SignUP</a></button>
                </div>
                <%- include('./partials/footer') %>
        </div>

    </body>

    </html>